html, body {
  margin: 0;
  padding: 0;

}

body {background-color: #9D7D59;}


.test img {
  padding: 0 0 0 47%;


}


p {
  max-width: 50%;
  font-size: 20px;
  color:0;
}

h1 {

  color:#000;
  padding: 0 0 0 35%;

}

h1 a {
  color: #000;
  text-decoration:none;
}

h1 a:hover {


  color: #9D7D59;
  text-decoration: underline;


}
#linklist a {
 display: flex;
  font-size: 20px;
  color: #000;
  text-decoration:none;
}


#linklist {

    padding: 0 0 0 16%;
    max-width: 100%;


          column-count: 8;

          column-gap: 1em;

}
#linklist a {
   display: inline-block;
   margin-left: 5px;
   margin-right: 5px;

}

#linklist a:hover {
  text-decoration: underline;

  color: #000;
  background: #fff;

}
#linklist a:active {
  text-decoration: underline;

  color: white;
  background: black;

}

.gifs2 img {
padding: 0 0 0 42%;


}

 img:hover {
  width: 100vh;
  margin-left: -300px;
}
