* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 255, 1) 0%,
    rgba(131, 54, 141, 1) 100%
  );
}
[id*="Vector"] {
  animation: cap 60s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
  transition: width height 2s;
}
[id*="Vector"]:hover {
  animation: scale_dos 1s infinite linear;
}
[id*="Vector"]:active {
  animation: nas 1s infinite linear;
}

@keyframes cap {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#Vector {
  animation: nas 1s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes nas {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes cos {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

@keyframes ulls {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(100);
  }
}

@keyframes scale_dos {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
